@charset "utf-8";
whole_website {
    color: #FF9015;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #004A98;
}
